* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a,
li {
    color: #666;
    text-decoration: none;
}

button,
input {
    font-family: Microsoft YaHei, YaHei Pro, YaHei Arial, Helvetica, sans-serif Sana GB;
    border: 0;
    outline: none;
}