@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?oc3m32');
    src: url('../fonts/icomoon.eot?oc3m32#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?oc3m32') format('truetype'),
        url('../fonts/icomoon.woff?oc3m32') format('woff'),
        url('../fonts/icomoon.svg?oc3m32#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}