@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?5nc4al');
    src: url('../fonts/icomoon.eot?5nc4al#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?5nc4al') format('truetype'),
        url('../fonts/icomoon.woff?5nc4al') format('woff'),
        url('../fonts/icomoon.svg?5nc4al#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}