@font-face {
  font-family: "iconfont"; /* Project id 4145487 */
  src: url('iconfont.woff2?t=1688097423586') format('woff2'),
       url('iconfont.woff?t=1688097423586') format('woff'),
       url('iconfont.ttf?t=1688097423586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-tuwenxiangqing:before {
  content: "\e601";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-31quanbushangpin:before {
  content: "\e602";
}

.icon-xiaoxi:before {
  content: "\e638";
}

.icon-jueseguanli:before {
  content: "\e70e";
}

.icon-yingyongguanli:before {
  content: "\e70f";
}

.icon-xitong:before {
  content: "\e6a5";
}

.icon-goods-copy:before {
  content: "\e64a";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-xiangqing:before {
  content: "\e639";
}

.icon-caidan1:before {
  content: "\e64d";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-category:before {
  content: "\e622";
}

.icon-xiangqing1:before {
  content: "\e8a0";
}

.icon-xiaoxi1:before {
  content: "\e616";
}

.icon-bumen:before {
  content: "\e651";
}

.icon-tongji:before {
  content: "\e605";
}

.icon-chakanxiangqing:before {
  content: "\e60e";
}

.icon-yuyannengli:before {
  content: "\e60b";
}

.icon-xitong1:before {
  content: "\e617";
}

.icon-shangpinzhongxin:before {
  content: "\e60a";
}

.icon-tongji1:before {
  content: "\e66c";
}

.icon-jishuziliao:before {
  content: "\e62d";
}

.icon-bumen1:before {
  content: "\e758";
}

.icon-yuyanfanyi:before {
  content: "\e643";
}

.icon-jieshaoxinxi:before {
  content: "\eaf5";
}

.icon-zhangdan_xiangqing:before {
  content: "\eb1b";
}

.icon-xiaoxi2:before {
  content: "\ec3b";
}

.icon-mysql:before {
  content: "\ec6d";
}

.icon-category1:before {
  content: "\e603";
}

.icon-caidan2:before {
  content: "\e652";
}

.icon-tongji2:before {
  content: "\e65b";
}

.icon-ico_shujutongji_gongzuoliangtongji:before {
  content: "\e901";
}

.icon-wendangguanlixitong-wendangguanlixitongtubiao:before {
  content: "\e648";
}

.icon-wendangguanlixitong-CRMxitongtubiao:before {
  content: "\e64b";
}

.icon-slidebar_shangpinzhongxin:before {
  content: "\e61a";
}

.icon-jishurenyuan:before {
  content: "\e658";
}

.icon-quanxian:before {
  content: "\e609";
}

.icon-quanxian1:before {
  content: "\e635";
}

.icon-icon-quanxian:before {
  content: "\e686";
}

.icon-caidan3:before {
  content: "\e691";
}

.icon-quanxian2:before {
  content: "\e6a0";
}

.icon-quanxian3:before {
  content: "\e725";
}

.icon-shangpinzhongxin1:before {
  content: "\e65f";
}

.icon-leibie:before {
  content: "\e649";
}

.icon-xiangqing2:before {
  content: "\e610";
}

.icon-xiangqing3:before {
  content: "\e62b";
}

.icon-xitong2:before {
  content: "\e62e";
}

.icon-xinxi:before {
  content: "\e627";
}

.icon-chakanxiangqing1:before {
  content: "\e618";
}

.icon-message:before {
  content: "\e60c";
}

.icon-xiangqing4:before {
  content: "\e620";
}

.icon-bumenguanli:before {
  content: "\e608";
}

.icon-quanxian4:before {
  content: "\e69c";
}

.icon-chakanxiangqing2:before {
  content: "\e60d";
}

.icon-quanxian5:before {
  content: "\e60f";
}

.icon-quanxian6:before {
  content: "\e611";
}

.icon-xitong3:before {
  content: "\e612";
}

.icon-caidan4:before {
  content: "\e613";
}

.icon-tongji3:before {
  content: "\e6cd";
}

.icon-shangpinxinxi:before {
  content: "\e958";
}

.icon-shangpinzhongxin2:before {
  content: "\e634";
}

.icon-04SFA_shangpinxinxichaxun:before {
  content: "\e61d";
}

.icon-shuju:before {
  content: "\e625";
}

.icon-xiangqing5:before {
  content: "\e62f";
}

.icon-tongji4:before {
  content: "\ec62";
}

.icon-KJ_005:before {
  content: "\e676";
}

.icon-liebiao1:before {
  content: "\e624";
}

.icon-shangpintongji:before {
  content: "\e621";
}

.icon-pinpaigushi:before {
  content: "\1010f";
}

